.supervisor-dashboard {
    display: flex;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  
  .sidebar {
    width: 25%;
    padding: 10px;
    background-color: #2c3e50;
  }
  
  .sidebar h2 {
    text-align: center;
    color: white; 
    margin-top: 20px;
  }
  
  .status-box {
    margin-top: 40px;
    background-color: #455b71;
    padding: 30px;
    margin-bottom: 20px !important;
    border-radius: 8px;
    text-align: center;
  }
  .status-box h3{
    font-size: 20px;
  }
  
  
  .logout-button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: hsl(6, 78%, 57%,0.9); 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 1em;
  }
  
  .logout-button:hover {
    background-color: #c62828;
  }
  
  .content {
    width: 80%;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
  }
  
  th {
    background-color: #2c3e50; 
    color: white;
  }
  
  .icon {
    cursor: not-allowed;
    font-size: 1.2em;
  }
  
  .icon.view-icon {
    color: #64b5f6;
  }
  
  .icon.forward-icon {
    color: #81c784;
  }
  
  .icon.delete-icon {
    color: #e57373;
  }
  
